
table {
    width: 100%;
    padding: 40px;
    border-collapse: collapse;
    border: 5px solid #080303; /* Add border to the table */
  }
  
#table th, td {
    border: 5px solid #000; /* Add border to table cells */
    text-align: left;
    padding: 20px;
  }
  
  th {
    background-color: #050404;
  }
   .container{
   
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 100px;
  } 
  .loginButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgba(68, 0, 255, 0.952);
    color: rgb(13, 11, 11);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}


.dynamic-table {
  width: 100%;
  border-collapse: collapse;
  padding: 40px;
  border: 3px solid rgb(118, 52, 52);

}

.dynamic-table th{
  background-color: goldenrod;
}
.dynamic-table th,
.dynamic-table td {
  padding: 10px;
  border: 2px solid #060606;
  color: #000;
}

.dynamic-table .day-cell {
  background-color: #7a4242;
  font-weight: bold;
  text-align: center;
  color: #000;
}

.dynamic-table .day-name {
  font-weight: bold;
}

.dynamic-table .table-cell {
  text-align: center;
  color: #000;
}

.container {
  text-align: center;
}

.loginButton {
  cursor: pointer;
}

.dashboard {
  margin-bottom: 20px;
}
