.login{
    width: 100vw;
    height: 50vw;
    background-color: rgba(183, 143, 143, 0.945);
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.loginWrapper{
    width: 70%;
    height: 70%;
    display: flex;
}
.form{
    margin-top: 70px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.loginLeft,.loginRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.loginLogo{
    font-size: 50px;
    font-weight: 800;
    color: blue;
    margin-bottom: 10px;
}
.loginDesc{
    font-size: 24px;
}
.regBox{
    height: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.loginInput{
    height: 50px;
    border-radius: 10px;
    border: 1 px solid gray;
    font-size: 18px;
    padding-left: 20px;
    margin: 5px;
}
.loginInput.focus{
    outline: none;
}
.loginButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgba(68, 0, 255, 0.952);
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.loginForgot{
    text-align: center;
    color: black;

}
.loginRegisterButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color:green;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;

}